<section class="bg-surface p-6 rounded-xl w-full lg:w-4/6">
  <span class="text-3xl font-semibold uppercase text-secondary"><a name="about_jobs">Quais aplicações desenvolvo</a></span>
  <ul class="mt-4 font-medium text-md text-black">
    <li class="cursor-pointer">Aplicações SPA</li>
    <li class="cursor-pointer">Landing Pages</li>
    <li class="cursor-pointer">Aplicações PWA</li>
    <li class="cursor-pointer">Aplicações desktop com Electron</li>
  </ul>
</section>
