<section class="bg-secondary bg-opacity-70 backdrop-blur-sm pt-16 pb-20 px-6 text-white text-center">
  <span class="text-2xl uppercase font-bold">Contato</span>
  <h5 class="mt-4"><span class="text-accent font-semibold">Whatsapp/Telegram:</span> <span>(74) 98827-0231</span></h5>
  <h5><span class="text-accent font-semibold">e-mail:</span> <span>rogersanctus@gmail.com</span></h5>
</section>
