<section class="bg-slate-600 pt-6 pb-14 px-6 text-white rounded-xl text-center">
  <span class="text-2xl uppercase font-bold">Contato</span>
  <h5 class="mt-4"><span class="text-green-400 font-semibold">Whatsapp/Telegram:</span> <span>(74) 98827-0231</span></h5>
  <h5><span class="text-green-400 font-semibold">e-mail:</span> <span>rogersanctus@gmail.com</span></h5>
</section>
