<section id="skills" class="rounded-2xl bg-surface p-6 w-full lg:w-4/6">
  <span class="text-3xl text-secondary font-semibold uppercase">Minhas Habilidades</span>
  <ul class="flex flex-col gap-6 mt-4">
    <li>
      <.languages />
    </li>
    <li class="mt-6">
      <.frameworks />
    </li>
    <li class="mt-6">
      <.stacks />
    </li>
    <li class="mt-6">
      <.tools />
    </li>
  </ul>
</section>
