<div class="mt-4">
  <span class="text-2xl text-accent font-bold border-b-2 border-b-accent">Ferramentas</span>
  <ul class="flex flex-wrap mt-4 gap-4">
    <.skill_item img_url={~p"/assets/icons/git-original.svg"} item_name="Git" />
    <.skill_item img_url={~p"/assets/icons/docker-original.svg"} item_name="Docker" />
    <.skill_item img_url={~p"/assets/icons/jenkins-original.svg"} item_name="Jenkins (CI/CD)" />
  </ul>
</div>
